<p id=”alert”><%= alert %></p>

<div class="login-workspace">
    <h1>Login</h1>
    <br>
    <div class="col-md-12">
        <%= form_tag sessions_path do |form| %>
        <div class="form-group">
            <div class="col-md-9 offset-md-1">
                <input type="text" class="form-control login-text-field" placeholder="Enter your e-mail" name="email" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-9 offset-md-1">
                <input type="password" class="form-control login-text-field" placeholder="Enter your password" name="password" />
            </div>
        </div>
        <div class="actions">
            <div class="row offset-md-4">
                <%= submit_tag "Login", class: "btn btn-primary col-md-3" %>&nbsp
                <a href=<%= signup_path %> class="btn btn-success col-md-3">Signup</a>
            </div>
        </div>
        <br>
    </div>
</div>
<% end %>